@font-face {
    font-family: 'Source Sans Pro';
    src: url('../design/source-sans-pro-regular.woff2');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../design/source-sans-pro-300.woff2');
}

body {
  margin: 0px;
  background-color: #303030;
  font-family: 'Source Sans Pro';
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #404040;
}

.header {
  height: 80px;
  min-width: 800px;
  margin: 0px;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #2b331a;
  background: linear-gradient(to bottom, #303030, #568001 4px, #568001 96px, #303030);
}

.posts {
    width: 550px;
    margin-left: 50px;
}

.post {
    margin-top: 50px;
}

.post-date {
    color: #999290;
    font-size: 18px;
    font-family: 'Source Sans Pro Light';
    margin-bottom: 10px;
}

.post-title {
    color: #e6ded8;
    font-size: 32px;
    margin-bottom: 20px;
}

.post-content {
    color: #9f9996;
    font-size: 23px;
    font-family: 'Source Sans Pro Light';
    margin-bottom: 40px;
}

.post-tags {
    color: #9f9996;
    font-size: 18px;
    font-family: 'Source Sans Pro Light';
    margin-bottom: 40px;
}

.post-tag {
    background-color: #666161;
    display: inline;
    font-size: 16px;
    padding: 8px 12px 8px 12px;
    margin-left: 10px;
    border-radius: 15px 15px 15px 15px; 
}

.footer-top {
    height: 40px;
    background: linear-gradient(to bottom, #303030, #4d4d4d);
}

.footer {
    height: 150px;
    background-color: #1a1a1a;
}
